# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.log
staticfiles/
media/

# Virtual environments
venv/
.env
.env.*

# VS Code
.vscode/

# Ruff/migrations
migrations/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Celery
celerybeat-schedule
celerybeat.pid